<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CVProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CVProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CView</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Start</a>
                        </li>
                        <!-- Add the new icon link to your page here -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="ShowProject"><i class="fas fa-cubes"></i> Projekt</a>
                        </li>
                        @if (User?.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="ShowProfile"><i class="fas fa-user"></i> Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="Inbox"><i class="fas fa-inbox"></i> Inbox @await Component.InvokeAsync("UnreadMessages")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#" onclick="document.getElementById('logoutForm').submit();"><i class="fas fa-sign-out-alt"></i> Logga ut</a>
                            </li>
                            <form id="logoutForm" method="post" asp-controller="Profile" asp-action="Logout"></form>
                        }
                        else
                        {
                                <!-- Om användaren inte är inloggad -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="RegisterUser"><i class="fas fa-user-plus"></i> Ny användare</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="LogInUser"><i class="fas fa-sign-in-alt"></i> Logga in</a>
                            </li>
                        }
                    </ul>

                    <!-- Sökfält och knapp -->
                    <form class="form-inline my-2 my-lg-0" asp-controller="Home" asp-action="Search" method="get">
                        <div class="input-group">
                            <input class="form-control rounded mr-sm-2" type="text" placeholder="Sök profil" name="profileName" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-success ml-2" type="submit" style="margin-left: 8px;"><i class="fas fa-search"></i> Sök</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

